@{
    ViewData["Title"] = "Projeto HBSIS";
}

<hr />
<div class="jumbotron">
    <h2 class="text-center">Projeto HBSIS</h2>

    <p class="text-center">Bem-Vindo ao Sistema HBSIS para Cálculo de Imposto de Renda do contribuinte.</p>

    <ul class="list-group">
        <li class="list-group-item active">
            Instruções.
        </li>
        <li class="list-group-item">
            1 - Incluia os contribintes no menu <strong>Contribuinte</strong> .
        </li>
        <li class="list-group-item">
            2 - Inclua o salário mínimo no menu <strong>Salário Mínimo.</strong> 
        </li>
        <li class="list-group-item">
            3 - Por último clique no menu <strong>Imposto de Renda</strong> .
        </li>
    </ul>

</div>