@model ProjetoHBSIS.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Um erro ocorreu durante a requisição.</h2>

@if (Model.ShowRequestId)
{
<p>
    <strong>Mensagem:</strong> <code>@Model.Message</code>

    <strong>ID:</strong> <code>@Model.RequestId</code>

</p>
}

